.navbar-brand img{
    max-width: 50px;
    height: auto;
}
.nav-link{
    font-size: 1.12rem;
}
.calltoaction{
    color: #FF4500!important;
}
.calltoaction:hover{
    color: rgb(138,40,4)!important;
}